:root {
    --red: #fd1f4a;
    --gold: #fbbd0d;
    --black: #000000;
    --background: #FAF5E6;
    --font: 'Josefin Sans', sans-serif;
  }

  .recipes{
    margin-top: 8em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .recipe-name{
    font-family: var(--font);
    color: var(--black);
    text-align: center;
  }

  .recipe-card{
    filter: drop-shadow(10px 10px 4px var(--black));
    transition: transform 1s;
  }

  .recipe-card:hover{
    transform: scale(1.02);
  }

  .recipe-card-name{
    color: var(--gold);
    text-align: center;
  }

  .loading{
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top: 8em;
    background-color: var(--background);
    border: 1px solid var(--red);
    border-radius: 1em;
    padding: 1em;
  }