@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --red: #fd1f4a;
  --gold: #fbbd0d;
  --black: #000000;
  --background: #FAF5E6;
  --font: 'Josefin Sans', sans-serif;
}

.view-full-recipe{
    background-image: url(https://cdn0.iconfinder.com/data/icons/bakery-02-outline-1/64/Kitchen-mixer-stand-bakery-512.png);
    background-repeat: repeat;
    height: 50em;
}

.view-recipe{
    text-align: center;
    margin-top: 5em;
    display: grid;

}

.recipe-name{
    border: 1px solid var(--gold);
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    display: table;
    margin: 0 auto;
    font-family: var(--font);
    background-color: var(--background);
}
.time-image{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 3em;
}

.time-hours{
    border: 1px solid var(--red);
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 10%; 
    text-align: center;
    font-weight: 900;
    background-color: var(--background);
}

.cookTime{
    font-family: var(--font);
    font-weight: 900;
    font-size: 2em;
    margin-bottom: -.25em;
}

.cooking-image{
    width: 10%;
    background-color: var(--red);
    border-radius: 1em;
    filter: drop-shadow(10px 10px 4px var(--black));
}

.ingredients-block{
    border: 1px solid var(--red);
    display: table;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--background);
}

.instructions-block{
    border: 1px solid var(--red);
    display: table;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    margin-top: 2em;
    background-color: var(--background);
}

.btn{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.edit{
    background-color: var(--gold);
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}

.delete{
    background-color: var(--red);
    text-align: center;
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}