@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --red: #fd1f4a;
  --gold: #fbbd0d;
  --black: #000000;
  --background: #FAF5E6;
  --font: 'Josefin Sans', sans-serif;
}

/* Header recime */
.header-recime{
  border: 1px solid var(--gold);
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: table;
  margin: 0 auto;
  font-family: var(--font);
  background-color: var(--background);
  margin-top: 1em;
}