@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --red: #fd1f4a;
  --gold: #fbbd0d;
  --black: #000000;
  --background: #FAF5E6;
  --font: 'Josefin Sans', sans-serif;
}

Header{
  background-color: #fff;
}

/*
/* sidebar Nav */
/* .navBar {
  display: flex;
}

.navBar button {
  display: flex;
  padding: 1em;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: var(--background);
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--gold);
  box-shadow: 0px 5px 5px var(--black);
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: var(--red);
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  color: var(--gold);
} */

/* a:active {
  color: var(--gold);
}

.menuNav li:first-child {
  margin-top: 7rem;
}


.header_nav{
  margin-top: 1.5em;
  width: 100%;
  display: flex;
}

.whitebackground{
  background-color: #fff;
} */

/* .cards{
  width: 24em;
  height: 9.5em;
  margin-top: .5em;
  margin-left: .75em;
  display: flex;
  justify-content: space-between;
} */

/* .card{
  background-color: var(--red);
  box-shadow: 5px 5px 5px var(--black);
  font-family: var(--font);
} */

/* .card:nth-child(odd){
  margin-right: 1em;
} */ 