@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --red: #fd1f4a;
  --gold: #fbbd0d;
  --black: #000000;
  --background: #FAF5E6;
  --font: 'Josefin Sans', sans-serif;
}

/* Header recime */

