@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --red: #fd1f4a;
  --gold: #fbbd0d;
  --black: #000000;
  --background: #FAF5E6;
  --font: 'Josefin Sans', sans-serif;
}

.recime{
  position: fixed;
  top: 1.5em;
  left: 5em;
  border-bottom: 2px solid var(--gold);
  font-family: var(--font);
}

.recipe-background{
  background-image: url(../blob/Pot-outline-gold.png);
  background-repeat: repeat;
  height: 150%;
  width: 100vw;
}

@media only screen and (max-width:600px)   {
  .recipe-background{
    background-image: url(../blob/Pot-outline-gold-lg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
}